h1 {
  text-align: center;
}

.main_block {
  /* display: flex; */
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.main_block .block_item {
  display: inline-block;
  padding: 30px;
}
